main {
    height: 60%;
}

.navbar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}
.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}
#navbar__logo {
    
    background-image: linear-gradient(to top,#195294 0%, #99c5ff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}
#navbar__logo:hover {
    text-shadow:  7px 7px 7px aliceblue;
    transition: 1s;
    color: #e4e1f0;

}
.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;

}
.navbar__item {
    height: 80px;
}
.navbar__links {
    color: rgb(28, 114, 163);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px; 
    text-decoration: none;
    height: 100%;
    transition: all 1s ease;
}
.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center; 
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 7px;
    
    background: -webkit-linear-gradient(to right, #2a5ba1, #141413, #060606, #1b476d);
    background: linear-gradient(to right, #5b5bb8, #141413, #060606, #195c8a);
    color: rgb(183, 222, 247);
    transition: all 1s ease;

    
}
.navbar__links:hover {
    color: lightsteelblue;
    transition: all 1s ease;
}
@media screen and (max-width: 780px) {
    .navbar__container {
       display: flex;
       justify-content: space-between;
       height: 80px;
       z-index: 1;
       width: 100%;
       max-width: 1300px;
       padding: 0;

    }
    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }
    .navbar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;        
    }
    #navbar__logo {
        padding-left: 25px;
    }
    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 6px 25px;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }
    .navbar__item {
        width: 100%;
    }
    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    .navbar__btn {
        padding-bottom: 2rem;
    }
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;

    }
    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);

    }
    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }
    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translate(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translate(-8px) rotate(-45deg);
    }
}

.productos{
    justify-content: space-around;
    width: 1020px;
    margin: 0 auto;
    padding: 50px;
}


li:hover {
    text-shadow:  7px 7px 7px aliceblue;
    transition: 1s;
    color: #e4e1f0;
}
   

.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;

}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.productos h2{
    font-size: 30px;
    font-weight: bold;
}
.descripcion{
    font-size: 18px;
}


.footer {
    background-color: #131313;
}


.socialMedia {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    width: 100%;
    height: 100%;
    padding: 15px 100px 15px 100px;
    flex-basis:20%;
    box-sizing: border-box;
}

.socialIcon{
    font-size: 30px;
    color: #e4e1f0;
}
.socialIcon:hover {
    color: #99c5ff;
    transition: 1s;
    text-shadow: 7px 7px 7px aliceblue;
     ;
}