* {
    font-family: 'Indie Flower', cursive;
    font-family: 'Special Elite', cursive;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../imagenes/black-and-gold-marble-texture.jpg);
    
}
h2 {
    color: #85dff8;
}
.imgProducto {
    max-width: 300px;
    
}
.card {
    color: aliceblue;
    position: relative;
    display: flex;
    flex-direction: column;
    
    height: 25rem;
    align-content: center;
    margin: 0 0 0 0;  
    
  
}



nav li{
    display: inline;
    margin: 0;
    

}
nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
.productos{
    width: 1020px;
    margin: 7rem auto 10rem;
    padding: 10px 10px 10px;
}
.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #4cb0e7;
    border-radius: 10px;

}
.imgProducto{
    width: 20rem;
    height: 22rem;
    margin: 0 -20px ;
    padding-right: 14rem;
    border-radius: 7px;

}
.productos h2{
    font-size: 30px;
    font-weight: bold;
}


footer{
    text-align: center;
    margin-bottom: 8px;
      
}

.formulario {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 400px;
    background: transparent;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 20rem;
    border-radius: 7px;
    
    color: rgb(150, 186, 216);
    font-weight: bold;
    font-size: 1.5rem;
    box-shadow: 7px 14px 37px aliceblue;

}
.formulario h4 {
    font-size: 23px;
    margin-bottom: 22px;
    text-align: center;
}
.controls {
    width: 100%;
    background: transparent;
    border-radius: 7px;
    margin-bottom: 17px;
    border: 2px solid skyblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: rgb(100, 186, 243);
}
.formulario p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}
.formulario a {
    color: aliceblue;
    text-decoration: none;

}
.formulario a:hover {
    color: rgb(126, 208, 244);
    text-decoration: underline;
    transition: 1s;
    
    
}
button:hover {
    color: rgb(66, 163, 247);
    
}
.formulario button {
    width: 100%;
    
    border: solid;
    border-color: #4cb0e7;

    color: aliceblue;
    margin: 17px 0;
    font-size: 17px;

}
.mensaje {
    height: 15rem;
    box-sizing: border-box;
    border: 2px solid #4cb0e7;
    border-radius: 10px;
    background-color: transparent;
    font-size: 1.2rem;
    color: #85dff8;
    padding: 7px 7px 7px 7px;
}

